<section>
    <app-menu></app-menu>
</section>

<div class="centralizador">
    <div class="mt-5">
        <div class="row">

            <div class="col-md-6 mb-6" *ngFor="let post of posts">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p><strong class='main-color'>{{post.autorName}}</strong></p>
                            </div>
                            <div class="col">
                                <p class='float-right'><strong>{{post.dataDenuncia | date: 'dd/MM/yyyy'}}</strong></p>
                            </div>
                        </div>
                        <div class='card-img'>
                            <img [src]="post.img_denuncia" class="img-fluid" alt="imagem da denúncia">
                        </div>
                        <div class="card-body">
                            <p class="card-title"><strong>Categoria:</strong> {{post.categoria}}</p>
                            <p class="card-text"><strong>Denúncia:</strong> {{post.descricao}}</p>
                        </div>

                        <div class="card-footer text-muted">

                            <div class='float-right'>
                                <a class="btn btn-primary my-s" (click)='insertLikeOrDeslike(post._id, true)'>
                                    <i class="fa fa-thumbs-up fa-2x"></i><i>{{getLike(post)}}</i>
                                </a>
                                <a class="btn btn-danger my-s" (click)='insertLikeOrDeslike(post._id, false)'>
                                    <i class="fa fa-thumbs-down fa-2x"></i><i>{{getDeslike(post)}}</i>
                                </a>
                            </div>

                            <div class="input-group mb-3">
                                <input type="text" [id]="post._id" class="form-control" placeholder="Digite aqui" id="post._id">
                                <div class="input-group-append">
                                    <tl-button [text]="'Comentar'" [color]="'information'" [height]="'39px'" (click)='setComentario(post._id);'></tl-button>
                                </div>
                            </div>

                            <tl-accordion [singleOpened]="true" [color]="'basic'">
                                <tl-accordion-item [title]="'Comentários'">
                                    <tl-accordion [singleOpened]="true" style="padding: 5px;" [color]="'information'">
                                        <tl-accordion-item [heightHeader]="'45px;'" *ngFor="let comentario of post.comentarios" [title]="comentario.nameUser" [id]="comentario.id_comentario">
                                            {{comentario.coment}}
                                        </tl-accordion-item>
                                    </tl-accordion>
                                </tl-accordion-item>
                            </tl-accordion>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
