<div class='login-page'>
    <section>
        <div>
            <form class="form-style-9" method="post" #frm="ngForm" (ngSubmit)="addUser(frm.value);" ectype="multipart/form-data">
                <h1>Novo Cadastro</h1>
                <ul>
                    <li>
                        <div class="form-group">
                            <input style="width: 100%;" type="text" id="nameComplete" name="nameComplete" class="form-control field-style field-split align-left" placeholder="Nome completo" [(ngModel)]="usuario.nameComplete" required/>
                        </div>
                    </li>

                    <li>
                        <div class="form-group">
                            <input type="email" id="email" name="email" class="form-control field-style field-split align-left" placeholder="E-mail" [(ngModel)]="usuario.email" required email/>
                        </div>
                        <div class="form-group">
                            <input type="text" id="cpf" name="cpf" class="form-control field-style field-split align-right" placeholder="CPF" [(ngModel)]="usuario.cpf" required/>
                        </div>
                    </li>

                    <li>
                        <div class="form-group">
                            <input type="password" id="password" name="password" class="form-control field-style field-split align-left" placeholder="Senha" [(ngModel)]="usuario.password" required/>
                        </div>
                        <div class="form-group">
                            <input type="date" id="dataNasc" name="dataNasc" class="form-control field-style field-split align-right" placeholder="Data de nascimento" [(ngModel)]="usuario.dataNasc" required/>
                        </div>
                    </li>

                    <li>
                        <input type="file" id="icon" name='icon' style='width: 100%' (change)='uploadImage($event);' [(ngModel)]="usuario.icon" />
                    </li>

                    <li>
                        <input type="submit" class="btn btn-primary" [disabled]="frm.invalid" value='criar conta' style='width: 100%'>
                    </li>
                </ul>

            </form>
        </div>
    </section>
</div>