<div class='login-page'>
    <form class="form-style-9">
        <h1>Novo Cadastro</h1>
        <ul>
            <li>
                <input type="text" class="field-style field-split align-left" placeholder="Nome completo" #nameCompleto id="nameComplete" name="nameComplete" />
                <input type="email" class="field-style field-split align-right" placeholder="Email" #emailUser id="email" name="email" />

            </li>
            <li>
                <input type="text" class="field-style field-split align-left" placeholder="Nome user" #nameUser id="nameUser" name="nameUser" />
                <input type="password" class="field-style field-split align-right" placeholder="Senha" #pswUser id="password" name="password" />
            </li>
            <li>
                <input type="text" class="field-style field-split align-left" placeholder="CPF" #cpf id="cpf" name="cpf" />
                <input type="date" class="field-style field-split align-right" placeholder="Data Nascimento" #dataNasc id="dataNasc" name="dataNasc" />
            </li>
            <li>
                <input type="submit" value="Criar Conta" style='width: 100%' (click)="addUser(nameCompleto.value, emailUser.value, nameUser.value, pswUser.value, emailUser.value, cpf.value, dataNasc.value)" />
            </li>
        </ul>
    </form>

</div>