.my-bg {
    background-color: #009595;
}

.my-color {
    color: white;
}

a {
    text-decoration: none;
}

.my-space {
    padding: 10px;
}

.nav {
    position: fixed;
}

span:hover {
    color: #EE5C42;
}

a:hover {
    color: #EE5C42;
}

span {
    font-family: 'Audiowide', cursive;
}
