<app-menu></app-menu>

<div class="container">
    <h4 class='main-color centralizador'>Minhas denúncias</h4>
  <div *ngFor='let denouce of myDenouces'>
    <div class="card-grid">
      <div class="card-wrap">
        <div class="card">
          <img [src]='denouce.imagem' class="card-img"/>
          <div class="card-body">
            <p class="card-title"><strong>Categoria:</strong> {{denouce.categoria}}</p>
            <p class="card-text"><strong>Denúncia:</strong> {{denouce.descricao}}</p>
            <div class='align-content-end'>
                <a href="#" class="btn btn-primary my-btn">
                    <i class="fa fa-thumbs-up fa-2x"></i>
                </a>
                <a href="#" class="btn btn-danger my-btn">
                    <i class="fa fa-thumbs-down fa-2x"></i>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
