<app-menu></app-menu>
<div class='container margem'>
    <div class='row'>
        <div class="my-map">
            <div class='my-box text-center'>
                <h4>Mapa de denúncias</h4>
            </div>
            <agm-map [latitude]='latitude' [longitude]='longitude' [zoom]='zoom'>
                <agm-marker *ngFor='let denuncia of denuncias' [latitude]='denuncia.latitude' [longitude]='denuncia.longitude' [markerDraggable]='false' [title]='denuncia.categoria'>
                    <agm-info-window [disableAutoPan]="true">
                        <img [src]='denuncia.img_denuncia' class='img-thumbnail'>
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </div>

</div>
