<div class='my-top margem'>
    <app-menu></app-menu>

    <div class="container border">
        <div class="row">
            <div class="col-md-6 form-modal centralizador">
                <!-- <img [src]='image' class='my-img center'> -->
                <h4 class='my-title text-center'>Nova Denúncia</h4>
                <form ectype="multipart/form-data">

                    <div class="form-group">
                        <label for="selectX" class='my-p'><strong>* Categoria:</strong></label>
                        <select class="form-control" id="categoria" name="categoria">
                  <option *ngFor='let item of categories' (click)='getCategory(item.categoria)'>
                    {{item.categoria}}
                  </option>
                </select>
                    </div>

                    <div class="form-group">
                        <label for="txtArea" class='my-p'><strong>* Descrição da denúncia:</strong></label>
                        <textarea class="form-control" id="descricao" name="descricao" rows="3" required #descricao (blur)='getDescription(descricao.value);'></textarea>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-secondary my-s" (focus)='showPosition()'>
                    <i class="fa fa-map-marker fa-2x"></i>
                    </button>
                        <input (change)='uploadImage($event);' type="file" accept="image/*" capture id="img_denuncia" name='img_denuncia'>
                    </div>

                    <div class="forms group">
                        <ul>
                            <li id='latitude' name='latitude'><strong class='my-p'>Latitude ----:</strong> {{currentLat}}</li><br>
                            <li id='longitude' name='longitude'><strong class='my-p'>Longitude --:</strong> {{currrentLng}}</li><br>
                        </ul>
                    </div>

                    <div class="forms group">
                        <button class='btn my-btn my-s' (click)='insert();'>
                        <i class="fa fa-save fa-2x"></i>
                    </button>
                        <button class='btn btn-danger my-s'>
                        <i class="fa fa-times-circle fa-2x"></i>
                    </button>
                    </div>

                </form>
            </div>
        </div>

    </div>