<div class="nav-side-menu">
    <div class="brand"><span>Opções</span></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <div class='avatar'>
                    <img src="https://anamariaramos09.files.wordpress.com/2014/08/empire-daniel-radcliffe.jpg" alt="">
                </div>
            </li>
            <li>
                <a [routerLink]="['/principal']">
                    <i class="fa fa-home"></i> Home
                </a>
            </li>

            <li data-toggle="collapse" data-target="#products" class="collapsed">
                <a [routerLink]="['/show']"><i class="fa fa-globe"></i> Mapa de denúncias</a>
            </li>
            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a [routerLink]="['/minhas-denuncias']"><i class="fa fa-search-location"></i> Minhas denúncias</a>
            </li>
            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a [routerLink]="['/nova-denuncia']"><i class="fa fa-edit"></i> Nova denúncia</a>
            </li>
            <li>
                <a (click)='logout();'>
                    <i class="fa fa-sign-out-alt"></i> Sair
                </a>
            </li>
        </ul>
    </div>
</div>