/* You can add global styles to this file, and also import other style files */
.login-page
{
    background-image: url('src/assets/new-york-crop.png');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: relative;
    right: 0;
    top: 0;
    background-size: cover;
}

.my-icons {
  position: absolute;
  margin-right: 18px;
  margin-top: 1px;
  width: 44px;
  height: 36px;
  padding-top: 8px;
  padding-left: 5px;
  border: 1px solid #fff;
}

.centralizador {
  margin: 0 auto;
  width: 500px;
  padding: 20px;
}

.my-spcace {
  margin: 2px;
}

.my-btn {
  background-color: #2e9283;
  color:white;
}
